<div class="footer">
  <h3>Follow us</h3>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      Maal Dairy Co
    </div>

  <h3>Contacts</h3>
    <div class="contact-info">
      <ul class="contact-list">
        <li>
          <%= image_tag('email_icon.png', alt: 'Email Icon', class: 'contact-icon') %>
          <a href="mailto:you@example.com">info@maaldairy.com</a>
        </li>
        <li>
          <%= image_tag('phone_icon.png', alt: 'Phone Icon', class: 'contact-icon') %>
          <a href="tel:+1234567890">+ (252) 6********</a>
        </li>
        <li>
          <%= image_tag('location_pin_icon.png', alt: 'Location Icon', class: 'contact-icon') %>
          Hargeisa, Somaliland
        </li>
      </ul>
    </div>

</div>
