<div class="footer">
  <div class="footer-links">
    <h3>Follow us</h3>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    2025 Maal Dairy
  </div>

  <div class="contact-info">
    <h3>Contacts</h3>
    <ul class="contact-list">
      <li>
        <%= image_tag('email_icon.png', alt: 'Email Icon', class: 'contact-icon') %>
        <a href="mailto:you@example.com" class="contact-link">info@maaldairy.com</a>
      </li>
      <li>
        <%= image_tag('phone_icon.png', alt: 'Phone Icon', class: 'contact-icon') %>
        <a href="tel:+1234567890" class="contact-link">+ (252) 6********</a>
      </li>
      <li>
        <%= image_tag('location_pin_icon.png', alt: 'Location Icon', class: 'contact-icon') %>
        <a href="#" class="contact-link">Hargeisa, Somaliland</a>
      </li>
    </ul>
  </div>

</div>
