<h1>Contact Us</h1>

<p><strong>Email:</strong> contact@yourcompany.com</p>
<p><strong>Phone:</strong> (123) 456-7890</p>
<p><strong>Address:</strong> 123 Main Street, City, Country</p>

<h3>Follow us on Social Media</h3>
<ul>
  <li><a href="https://twitter.com/yourcompany" target="_blank">Twitter</a></li>
  <li><a href="https://facebook.com/yourcompany" target="_blank">Facebook</a></li>
  <li><a href="https://instagram.com/yourcompany" target="_blank">Instagram</a></li>
</ul>
