<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('camel&calf.jpg') %>" class="carousel-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Welcome to <strong>Maal Dairy</strong></h1>
        <h3>The Home of Fresh, Organic Pasteurised Camel Milk</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('all_camel_milk.jpg') %>" class="carousel-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-flat" href="<%= products_path %>">Our Products</a>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="card-product">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("pouring_milk.jpg") %>')">
    Our Milk
  </div>

  <div class="card-product-infos">
    <h2>Our Story</h2>
    <ul>
      <li>We offer premium high quality fresh organic pasteurised camel milk.</li>
      <li>Our milk is hygienically sourced, stored, packaged and includes the utilisation of cold chain storage facilities.</li>
      <li>Our milk is gently pasteurised to prevent bacterial growth and prolong shelflife. Our pasteurisation method uses modern equipment to ensure that the milk retains as much of its nutritional value as possible.</li>
      <li>Our flavoured milk is made with natural premium ingredients - NO artificial additives, colours or flavours.</li>
      <li>We support local camel herders.</li>
    </ul>
  </div>

</div>
