.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 40px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #836f02;
  opacity: 0.5;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


/* app/assets/stylesheets/application.css (or .scss) */
.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #836f02;
}
