// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.background-wrapper {
  background-image: image-url('geo_pattern_1.jpg');
  background-repeat: repeat;
  background-size: auto; /* or cover/contain, depending on your pattern */
  height: 100px; /* adjust to how much space you want */
}
